#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.card {
  padding: 2em;
}

/* .itemGrid {
  display: inline-flexbox;
} */

.itemCard {
  text-align: center;
  background-color: purple;
  width: 12em;
  height: 20em;
  margin: 1.5em;
}
.itemCard > * {
  padding-top: .5em;
}
.thumbnailImg {
  width: 8em;
}